## By:   Jim Van Riper
##       Lawrence McDaniel
##       lpm0073@gmail.com
##       lawrencemcdaniel.com
##
## Usage:
##         html, CSS and Javascript to generate Rover tours for AM.
##
##         The tour uses LinkedIn's hopscotch which is documented here.
##         http://linkedin.github.io/hopscotch/
##         https://github.com/linkedin/hopscotch
##
##         Note that there have been no commits to hopscotch since June 2017.
##
##
##         shaded backdrop - this is four opaque-ish divs that are moved to surround and thereby
##         highlight the tour target.  This can be handled with each hopscotch step's onShow
##         callback.  Reference for HTML positioning which can be a pain.
##         https://www.kirupa.com/html5/get_element_position_using_javascript.htm

<%namespace name='static' file='../static_content.html'/>
<%!
  from cms.djangoapps.contentstore.views.course import _get_course_creator_status
  from urlparse import urlparse
  import posixpath
%>

<%

##-----------------------------------------------------------------------
##  mcdaniel jul-2019
##  only launch the tour if the user is both authenticated and has been
##  granted course creator privileges
##-----------------------------------------------------------------------
site_domain = 'am.' + static.get_value('site_domain', settings.SITE_NAME)
site_protocol = 'https' if settings.HTTPS == 'on' else 'http'
if not (user.is_authenticated and _get_course_creator_status(user) == 'granted'):
  return STOP_RENDERING



def path_parse(path_string):
  result = []
  tmp = posixpath.normpath( path_string )
  while tmp != "/":
    ( tmp, item ) = posixpath.split( tmp )
    result.insert( 0, item )
  return result

parsed_url = urlparse(request.get_full_path())
split_path = path_parse(parsed_url.path)
course_id = split_path[-1]

def is_grades_page():
  return ("grading" in  split_path) and ("settings" in  split_path)

def is_on_homepage():
  return ("home" in  split_path)

def is_course_page():
  return ("course" in split_path)

am_url=u"{protocol}://{domain}".format(
  protocol=site_protocol,
  domain=site_domain
)

am_home=u"{protocol}://{domain}{path}".format(
  protocol=site_protocol,
  domain=site_domain,
  path='/home'
)
%>

<%include file="rover-tour-lib.html" />


<script>
  var roverTour1, roverTour2, roverTour3, roverTour4;
  function SlideDeckTour1(){
    console.info('SlideDeckTour1() - begin');
    roverTour1 = {
      id: "tour1",
      showCloseButton: false,
      showPrevButton: true,
      onStart: function() {
        hopscotchState('SlideDeckTour1', 'onStart');
      },
      onEnd: function () {
        hopscotchState('SlideDeckTour1', 'onEnd');
        roverSetCookie("roverTour1", "true", 365);
        ## This SHOULD cause Tour2 to start
        location.reload();
      },
      onError: function () {
        console.info('roverTour1() onError - yikes');
      },
      steps: [
      {
        content: stwWhatCanYouDoHTML(),
        target: document.querySelector('.cms-hdr'),
        width: '750px',
        xOffset: 'center',
        placement: 'bottom',
        arrowWidth: 0,
        onShow: function(){
          document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
        }
      },
      {
        content: stwVideoHTML(),
        target: document.querySelector('.cms-hdr'),
        width: '800px',
        xOffset: 'center',
        placement: 'bottom',
        arrowWidth: 0,
        onShow: function(){
          document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
        }
      }
      ]
    };
    return roverTour1;
  }
  function SlideDeckTour2(){
    var title = "Assignment manager page tips"
    roverTour2 = {
      id: "tour2",
      showCloseButton: true,
      showPrevButton: false,
      onStart: function() {
        hopscotchState('SlideDeckTour2', 'onStart');
      },
      onEnd: function () {
        hopscotchState('SlideDeckTour2', 'onEnd');
        roverSetCookie("roverTour2", "true", 365);
      },
      onError: function () {
        console.info('roverTour2() onError - yikes');
      },
      steps: [
      {
        content: textSlideHTML(id="roverTour2-1", title, "Welcome to Assignment Manager! This is where you will create and access your courses."),
        target: document.querySelector('.cms-hdr'),
        width: '800px',
        xOffset: 'center',
        placement: 'bottom',
        arrowWidth: 0,
        onShow: function() {
          document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
          document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 1/2";
        }
      },
      {
        content: textSlideHTML(id="roverTour2-2", title, "Click the course you want to create."),
        target: document.querySelector('.book-block'),
        width: '400px',
        xOffset: 'right',
        placement: 'bottom',
        arrowOffset: 'center',
        arrowWidth: 0,
        onShow: function() {
          document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 2/2";
        }
      },
      {
        content: textSlideHTML(id="roverTour2-2", title, 'You can always turn on Page Tips to learn how to use Rover, or download our <a class="stw-link" href="https://google.com" target="_blank">getting started guide</a> and watch our <a class="stw-link" href="https://google.com" target="_blank">tutorial</a>.'),
        target: document.querySelector('.account-username'),
        width: '500px',
        xOffset: -500,
        placement: 'bottom',
        arrowWidth: 0,
        arrowOffset: 475,
        onShow: function() {
          document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Got it";
        }
      }
      ]
    };
    return roverTour2;
  }
  function SlideDeckTour3(){
      console.info('SlideDeckTour3() - begin');
      var title = "How to build assignments"
      img = "${static.url('images/super-training-wheel-3.png')}";
      stwHowToBuildAssignmentsHTML = "<img class='super-training-wheel' src='" + img + "' alt='Super Training Wheel 1'>";
      roverTour3 = {
        id: "tour3",
        showCloseButton: true,
        showPrevButton: false,
        onStart: function() {
          hopscotchState('SlideDeckTour3', 'onStart');
        },
        onEnd: function(){
          hopscotchState('SlideDeckTour3', 'onEnd');
          roverSetCookie("roverTour3", "true", 365);
          if (showPageTips()) {
            window.location = "/settings/grading/${course_id}"
          }
        },
        onError: function () {
          console.info('roverTour3() onError - yikes');
        },
        steps: [
        {
          content: textSlideHTML(id="roverTour3-1", title, "Explore the course you created."),
          target: document.querySelector('.my-course-sections-title'),
          width: 500,
          xOffset: 'center',
          placement: "top",
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Got it";
          },
          multipage: true,
          onNext: function() {
            window.location = roverGetCookie("createdCourseUrl")
          }
        },
        {
          content: stwHowToBuildAssignmentsHTML,
          target: document.querySelector('header'),
          width: '750px',
          xOffset: 'center',
          placement: "bottom",
          arrowWidth: 0,
          onShow: function(){
            document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
          }
        },
        {
          content: textSlideHTML(id="roverTour3-3", title, "Green means the assignment is available for students; orange indicates unpublished changes."),
          target: document.querySelector('.section-title'),
          width: '750px',
          xOffset: 'center',
          placement: "bottom",
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 1/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour3-4", title, "Preview assignments as a student."),
          target: document.querySelector('#content > div.wrapper-mast.wrapper > header > nav > ul > li:nth-child(4) > a'),
          width: '400px',
          xOffset: 0,
          placement: "left",
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 2/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour3-5", title, "View sample student grades in the gradebook."),
          target: document.querySelector('#content > div.wrapper-mast.wrapper > header > nav > ul > li:nth-child(3) > a'),
          width: '400px',
          xOffset: 0,
          placement: "left",
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 3/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour3-6", title, "Explore the Settings menu next."),
          target: document.querySelector('.nav-course-settings'),
          width: '400px',
          xOffset: 0,
          placement: "bottom",
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 4/4";
          }
        }
        ]
      };
      return roverTour3;
    }
    function SlideDeckTour4(){
      var title = "Setting up Grading"
      console.info('SlideDeckTour4() - begin');
      roverTour4 = {
        id: "tour4",
        showCloseButton: true,
        showPrevButton: false,
        onStart: function() {
          hopscotchState('SlideDeckTour4', 'onStart');
        },
        onEnd: function(){
          hopscotchState('SlideDeckTour4', 'onEnd');
          roverSetCookie("roverTour4", "true", 365);
          roverSetCookie("createdCourseUrl", "", 7);
        },
        onError: function () {
          console.info('roverTour4() onError - yikes');
        },
        steps: [
        {
          content: textSlideHTML(id="roverTour4-1", title, "Add grade ranges."),
          target: document.querySelector('.new-grade-button'),
          width: '400px',
          xOffset: 0,
          placement: 'right',
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 1/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour4-2", title, "Drag to adjust the scale"),
          ##
          ## mcdaniel oct-2019
          ## for no apparent reason, its necesary to set this target sans document.querySelector()
          ##
          target: 'li.grade-specific-bar.ui-resizable > div.ui-resizable-handle.ui-resizable-e',
          width: '400px',
          xOffset: -28,
          placement: 'bottom',
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 2/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour4-3", title, "Hover to delete a range."),
          target: document.querySelector('.grade-bar'),
          width: '400px',
          xOffset: 'center',
          placement: 'bottom',
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 3/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour4-4", title, "Add the estimated number of assignments students will complete in this course section. Once you edit your assignments, you must return to this page and update this value."),
          target: "field-course-grading-assignment-totalassignments",
          width: '600px',
          xOffset: 0,
          placement: 'top',
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Next 4/4";
          }
        },
        {
          content: textSlideHTML(id="roverTour4-4", title, "Visit <a class='stw-link' href='https://openstax.org/general/rover-onboarding' target='_blank'>Rover Resources</a> for more information on setting up your course"),
          target: '#settings_details > section.group-settings.grade-range > header',
          width: '400px',
          xOffset: 'center',
          placement: 'bottom',
          arrowWidth: 0,
          onShow: function() {
            document.querySelector('button.hopscotch-nav-button.next.hopscotch-next').innerHTML = "Got it";
            document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
          }
        }

        ]
      };
      return roverTour4;
    }
  function startTour1(){
    setTimeout(hopscotch.startTour( SlideDeckTour1(), 0 ), 250);
  }
  function startTour2(){
    if (shouldShowTour("roverTour2")) {
      console.info("startTour2() - Starting");
      setTimeout(hopscotch.startTour( SlideDeckTour2(), 0 ), 250);
    }
  }
  function startTour3(){
    if (shouldShowTour("roverTour3")) {
      setTimeout(hopscotch.startTour( SlideDeckTour3(), 0 ), 250);
    }
  }
  function startTour4(){
    if (shouldShowTour("roverTour4")) {
      setTimeout(hopscotch.startTour( SlideDeckTour4(), 0 ), 250);
    }
  }
  ## =======================================================================
  ## mcdaniel sep-2019
  ## Module entry point.
  ## =======================================================================
  $( document ).ready(function() {
      initPageTips();
      tourState = hopscotch.getState();

      console.info("$(document).ready() - createdCourseUrl", roverGetCookie("createdCourseUrl"));
      console.info("$(document).ready() - tourState", tourState);

      ##--------------------------------------------------------------------
      ##Tour 1: on the dashboard, logged in, and Tour1 has never been seen.
      ##
      ## Tour 1 consists of two super training wheels. This tour will
      ## segway into Tour 2 on its very first showing.
      ##--------------------------------------------------------------------
      if (isSameUrl(window.location.toString(), "${am_home}") && !yetSeen("roverTour1")) {
        startTour1();
        return;
      }
      ##--------------------------------------------------------------------
      ##  Tour 2:
      ##  on the dashboard, logged in, and Tour1 has already been seen.
      ##  no new course created.
      ##
      ## Tour 2 is a traditional screen tour on the AM home page.
      ##--------------------------------------------------------------------
      if (isSameUrl(window.location.toString(), "${am_home}") && yetSeen("roverTour1") && roverGetCookie("createdCourseUrl")=="") {
        startTour2();
        return;
      }
      ##--------------------------------------------------------------------
      ##  Tour 3:
      ##  on the dashboard, logged in, Tour1 has already been seen.
      ##  and a new course was just created.
      ##
      ## Tour 3 is launched the first time a user clicks on their first
      ## newly-created course. the tour begins on the course outline page
      ## of the course and then segways to Tour 4
      ##--------------------------------------------------------------------
      if (isSameUrl(window.location.toString(), "${am_home}") && yetSeen("roverTour1") && roverGetCookie("createdCourseUrl")!="") {
        startTour3();
        return;
      }
      ##--------------------------------------------------------------------
      ##  Tour 3:1:
      ##  we've navigated to a Course page while running the tour.
      ##  Hopscotch has a bug that cuases the tour to stall at this point.
      ##  as a workaround, we'll force the tour to restart at the 2nd slide.
      ##--------------------------------------------------------------------
      if (tourState == "tour3:1" && "${is_course_page()}"=="True") {
        setTimeout(hopscotch.startTour( SlideDeckTour3(), 1 ), 250);
        return;
      }
      ##--------------------------------------------------------------------
      ##  Hopscotch buggy behavior: There are occasions where a tour will stall,
      ##  but not for any reasons described above. In these cases we want
      ##  to simply reset Hopscotch by attempting to end any "running" Tour.
      ##--------------------------------------------------------------------
      if (tourState) {
        console.info("$(document).ready() - tourState", tourState, "Tried to end tour");
        /* hopscotch.endTour(); */
      }
      ##--------------------------------------------------------------------
      ## we are not on the home page, but elsewhere, so check to see if
      ## there is a tour for this page.
      ##--------------------------------------------------------------------
      if (showPageTips()) {
        if (isSameUrl(window.location.toString(), "${am_home}")) {
          startTour2();
          return;
        }
        if ("${is_course_page()}"=="True") {
          startTour3();
          return;
        }
        if ("${is_grades_page()}"=="True") {
          startTour4();
          return;
        }
      }
    }
  );
</script>
