## By:   Lawrence McDaniel
##       lpm0073@gmail.com
##       lawrencemcdaniel.com
##
##       Jul-2019
##
## Usage:
##         html, CSS, Javascript and Python/Django to generate Rover Paywall.
##
<%namespace name='static' file='../static_content.html'/>

<%!
## module-level execution. happens "once"
## usually this only includes the Python imports, but could also include
## anything else that you want to execute only once at load time
from opaque_keys.edx.keys import CourseKey
from xmodule.modulestore.django import modulestore
from courseware.date_summary import VerifiedUpgradeDeadlineDate
from student.models import is_faculty
import datetime
import logging

log = logging.getLogger("edx.student")

%>

<%
## for CalStateLA: our imposed payment deadline date is 4-Feb-2020
## at midnight (18:59:59 UTC).
deadline = datetime.datetime(2020, 2, 4, 18, 59, 59)
now = datetime.datetime.now()
if now <= deadline:
  log.info('Payment deadline is in the future, exiting.')
  return STOP_RENDERING

## this code is moot if the user is not yet authenticated.
if not user.is_authenticated:
  log.info('Not authenticated, exiting.')
  return STOP_RENDERING

## MAKE SURE THIS DOES NOT BLOCK INSTRUCTORS!!!!!!
## Career Advise: Faculty should NEVER be blocked by a paywall!!!!
if is_faculty(user):
  log.info('Faculty user - never block!, exiting.')
  return STOP_RENDERING

%>

<%block name="headextra">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<style>
  .rover-dog-img {
    text-align: right;
  }
  .rover-dog-img img {
    width: 200px;
  }
  .buy-rover-btn {
    text-align: center;
  }
  .buy-rover-btn a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: #0dc0dc;
    color: #fff;
    font-size: 1.25em;
    font-weight: bolder;
    border-radius: 3px;
  }
  .buy-rover-btn a:hover {
    transition-timing-function: ease-in;
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  #RoverExpiredAlert h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: red;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .message-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: #424242;
  }
  .buy-rover-modal {
    left: 0% !Important;
  }
</style>
</%block>


<%block name="bodyextra">
<%
def is_eop(email):
  eop_list = [
  'aalami10@calstatela.edu',	## Fall 2019	## Spring 2020
  'aarred28@calstatela.edu',	## Fall 2019
  'aarria14@calstatela.edu',	## Spring 2020
  'aavile24@calstatela.edu',	## Fall 2019
  'acaden15@calstatela.edu',	## Fall 2019
  'acastr133@calstatela.edu',	## Spring 2020 Free Retake
  'achetla@calstatela.edu',	## Fall 2019
  'agrover@calstatela.edu',	## Fall 2019
  'aguerr100@calstatela.edu',	## Fall 2019
  'agutie26@calstatela.edu',	## Spring 2020
  'agutier11@calstatela.edu',	## Spring 2020
  'alopeza5@calstatela.edu',	## Fall 2019
  'alordazper021@gmail.com',	## Fall 2019	## Spring 2020
  'amende10@calstatela.edu',	## Spring 2020
  'amoral152@calstatela.edu',	## Fall 2019
  'andreaortega741@gmail.com',	## Fall 2019
  'andrearobles9828@yahoo.com',	## Fall 2019
  'angel13ar@yahoo.com',	## Fall 2019
  'aordazp@calstatela.edu',	## Spring 2020
  'aorteg117@calstatela.edu',	## Fall 2019
  'aperfec@calstatela.edu',	## Fall 2019
  'aramir155@calstatela.edu',	## Fall 2019	## Spring 2020
  'aruiz127@calstatela.edu',	## Fall 2019
  'asarab12@calstatela.edu',	## Spring 2020
  'asenga@calstatela.edu',	## Fall 2019
  'astrokent@gmail.com',        ## Tester
  'astrokent+1@gmail.com',      ## Tester
  'astrokent+2@gmail.com',      ## Tester
  'astrokent+3@gmail.com',      ## Tester
  'astrokent+4@gmail.com',      ## Tester
  'astrokent+5@gmail.com',      ## Tester
  'astrokent+6@gmail.com',      ## Tester
  'astrokent+7@gmail.com',      ## Tester
  'astrokent+8@gmail.com',      ## Tester
  'astrokent+9@gmail.com',      ## Tester
  'atlapa2019@gmail.com',	## Fall 2019
  'atlapa@calstatela.edu',	## Fall 2019	## Spring 2020
  'avasqu128@calstatela.edu',	## Fall 2019
  'avazqu116@calstatela.edu',	## Fall 2019
  'avelaz68@calstatela.edu',	## Fall 2019	## Spring 2020
  'avalen126@calstatela.edu',	## Spring 2020 Free Retake
  'bandom@calstatela.edu',	## Fall 2019	## Spring 2020
  'bbaker15@calstatela.edu',	## Fall 2019
  'bcaniza@calstatela.edu',	## Fall 2019
  'bgurrol2@calstatela.edu',	## Fall 2019
  'bhuang5@calstatela.edu',	## Spring 2020
  'bmarti124@calstatela.edu',	## Fall 2019	## Spring 2020
  'bmiran15@calstatela.edu',	## Spring 2020
  'bmoral72@calstatela.edu',	## Fall 2019
  'bperezs2@calstatela.edu',	## Fall 2019
  'brizo2@calstatela.edu',	## Fall 2019	## Spring 2020
  'bryanm@collegeready16.org',	## Fall 2019
  'bsingh16@calstatela.edu',	## Fall 2019	## Spring 2020
  'cbenit25@calstatela.edu',	## Fall 2019
  'cbolan13@calstatela.edu',	## Fall 2019
  'cdiaz129@calstatela.edu',	## Fall 2019
  'cfrankl5@calstatela.edu',	## Spring 2020
  'cgalarz4@calstatela.edu',	## Fall 2019
  'cgalla21@calstatela.edu',	## Fall 2019
  'cgaspar9@calstatela.edu',	## Spring 2020
  'cgonza138@calstatela.edu',	## Fall 2019
  'citlali026d@gmail.com',	## Fall 2019
  'cmarti125@calstatela.edu',	## Fall 2019	## Spring 2020
  'cpache29@calstatela.edu',	## Fall 2019	## Spring 2020
  'crodri101@calstatela.edu',	## Fall 2019
  'crojo5@calstatela.edu',	## Fall 2019
  'cromer101@calstatela.edu',	## Fall 2019
  'cwolfgr@calstatela.edu',	## Fall 2019	## Spring 2020
  'dascen10@calstatela.edu',	## Fall 2019
  'dcalde38@calstatela.edu',	## Fall 2019
  'dcebrer3@calstatela.edu',	## Fall 2019
  'desantiagovania07@gmail.com',	## Fall 2019
  'desqui15@calstatela.edu',	## Fall 2019
  'destinywat01@gmail.com',	## Fall 2019	## Spring 2020
  'dfoste20@calstatela.edu',	## Fall 2019
  'dlope237@calstatela.edu',	## Fall 2019
  'dlopez139@calstatela.edu',	## Fall 2019
  'dmanriq7@calstatela.edu',	## Fall 2019
  'dmendo88@calstatela.edu',	## Fall 2019
  'dpinalv@calstatela.edu',	## Fall 2019	## Spring 2020
  'drojas50@calstatela.edu',	## Fall 2019	## Spring 2020
  'dsoria13@calstatela.edu',	## Fall 2019
  'dveneg11@calstatela.edu',	## Spring 2020
  'dwatlin@calstatela.edu',	## Spring 2020
  'ebautis4@calstatela.edu',	## Fall 2019
  'edeluna2@calstatela.edu',	## Fall 2019
  'edeluna2@calstatela.edu',	## Spring 2020
  'eevans2@calstatela.edu',	## Fall 2019	## Spring 2020
  'eflore130@calstatela.edu',	## Fall 2019	## Spring 2020
  'egarci157@calstatela.edu',	## Fall 2019
  'eguard23@calstatela.edu',	## Fall 2019
  'eherna195@calstatela.edu',	## Fall 2019
  'ehudson3@calstatela.edu',	## Fall 2019
  'elopezp6@calstatela.edu',	## Fall 2019
  'emaldo33@calstatela.edu',	## Fall 2019	## Spring 2020
  'enajera7@calstatela.edu',	## Spring 2020
  'eorteg55@calstatela.edu',	## Fall 2019
  'erickguardado83729@gmail.com',	## Fall 2019
  'eronqui@calstatela.edu',	## Spring 2020
  'eroquez@calstatela.edu',	## Spring 2020
  'evelaz45@calstatela.edu',	## Fall 2019
  'eventu25@calstatela.edu',	## Fall 2019
  'fcanale4@calstatela.edu',	## Spring 2020
  'fmerino5@calstatela.edu',	## Fall 2019
  'forozc24@calstatela.edu',	## Fall 2019
  'galvar65@calstatela.edu',	## Fall 2019
  'gandres@calstatela.edu',	## Spring 2020
  'gbarraz8@calstatela.edu',	## Fall 2019
  'gbarraz8@calstatela.edu',	## Spring 2020
  'gbatz@calstatela.edu',	## Fall 2019	## Spring 2020
  'gespino2@calstatela.edu',	## Fall 2019
  'ggarci118@calstatela.edu',	## Fall 2019
  'ggrande@calstatela.edu',	## Fall 2019	## Spring 2020
  'gluquin2@calstatela.edu',	## Fall 2019
  'gmarti128@calstatela.edu',	## Spring 2020
  'gramos50@calstatela.edu',	## Fall 2019
  'grodri133@calstatela.edu',	## Fall 2019	## Spring 2020
  'gvasqu46@calstatela.edu',	## Fall 2019
  'hmazari4@calstatela.edu',	## Spring 2020
  'hvazque6@calstatela.edu',	## Fall 2019
  'icabral5@calstatela.edu',	## Fall 2019
  'icovarr3@calstatela.edu',	## Fall 2019
  'iflore0157@calstatela.edu',	## Fall 2019
  'iflore71@calstatela.edu',	## Fall 2019
  'iharosg@calstatela.edu',	## Spring 2020
  'ipache10@calstatela.edu',	## Fall 2019
  'isaactovar2701@gmail.com',	## Fall 2019
  'itovar2@calstatela.edu',	## Fall 2019
  'iweathe2@calstatela.edu',	## Fall 2019
  'jaguay21@calstatela.edu',	## Fall 2019
  'jalduci@calstatela.edu',	## Fall 2019
  'jalvar158@calstatela.edu',	## Fall 2019
  'jcast178@calstatela.edu',	## Spring 2020
  'jdoming@calstatela.edu',	## Fall 2019
  'jenniferrperezz407@gmail.com',	## Fall 2019
  'jescoba12@calstatela.edu',	## Fall 2019
  'jesusariasthedeveloper@gmail.com',	## Fall 2019
  'jgutie104@calstatela.edu',	## Fall 2019
  'jgutie118@calstatela.edu',	## Fall 2019
  'jgutie128@calstatela.edu',	## Fall 2019
  'jlara61@calstatela.edu',	## Fall 2019
  'jmendez13@calstatela.edu',	## Spring 2020
  'jmerida6@calstatela.edu',	## Fall 2019
  'jmiguel9@calstatela.edu',	## Fall 2019	## Spring 2020
  'jmira@calstatela.edu',	## Fall 2019
  'jmonro24@calstatela.edu',	## Fall 2019	## Spring 2020
  'jnorie13@calstatela.edu',	## Fall 2019
  'joliva49@calstatela.edu',	## Fall 2019	## Spring 2020
  'jperez203@calstatela.edu',	## Fall 2019
  'jruiz215@calstatela.edu',	## Fall 2019
  'jtorre165@calstatela.edu',	## Fall 2019
  'jvalen105@calstatela.edu',	## Spring 2020
  'jzeped51@calstatela.edu',	## Fall 2019	## Spring 2020
  'kablewy1@gmail.com',	## Fall 2019
  'karreol8@calstatela.edu',	## Fall 2019
  'kgambo11@calstatela.edu',	## Fall 2019	## Spring 2020
  'kguerr28@calstatela.edu',	## Fall 2019
  'kolguin@calstatela.edu',	## Fall 2019
  'kramosm4@calstatela.edu',	## Fall 2019
  'krodri129@calstatela.edu',	## Fall 2019
  'ktorres8@calstatela.edu',	## Fall 2019
  'larriol5@calstatela.edu',	## Fall 2019
  'ldeleo29@calstatela.edu',	## Fall 2019	## Spring 2020
  'lfajard2@calstatela.edu',	## Spring 2020
  'lnunez38@calstatela.edu',	## Spring 2020
  'lpenate@calstatela.edu',	## Fall 2019
  'lrojas39@calstatela.edu',	## Fall 2019	## Spring 2020
  'lvasqu63@calstatela.edu',    ## Spring 2020 Free Retake
  'mamaro5@calstatela.edu',	## Fall 2019
  'mandra23@calstatela.edu',	## Fall 2019
  'marell58@calstatela.edu',	## Fall 2019
  'mbauti56@calstatela.edu',	## Fall 2019
  'mcasti109@calstatela.edu',	## Fall 2019	## Spring 2020
  'mgamino7@calstatela.edu',	## Fall 2019
  'mgonza143@calstatela.edu',	## Spring 2020 Free Retake
  'mgonza158@calstatela.edu',	## Fall 2019
  'mlomeli3@calstatela.edu',	## Spring 2020
  'mmora130@calstatela.edu',	## Fall 2019
  'mmoral120@calstatela.edu',	## Fall 2019
  'mpaxtor2@calstatela.edu',	## Fall 2019
  'msanc245@calstatela.edu',	## Fall 2019
  'mto7@calstatela.edu',	## Spring 2020
  'mvasqu120@calstatela.edu',	## Fall 2019
  'mvillav5@calstatela.edu',	## Fall 2019
  'narguet5@calstatela.edu',	## Fall 2019
  'ncifuen@calstatela.edu',	## Fall 2019	## Spring 2020
  'njuare19@calstatela.edu',	## Fall 2019
  'ocruz15@calstatela.edu',	## Fall 2019
  'ogomez32@calstatela.edu',	## Fall 2019
  'orosal10@calstatela.edu',	## Spring 2020 Free Retake
  'pasaye47@gmail.com',     ## Spring 2020 Free Retake
  'pbrenes@calstatela.edu',	## Fall 2019
  'pmendo29@calstatela.edu',	## Fall 2019
  'ppartid3@calstatela.edu',	## Fall 2019
  'psalaz19@calstatela.edu',	## Fall 2019
  'psimon3@calstatela.edu',	## Fall 2019	## Spring 2020
  'qtran40@calstatela.edu',	## Fall 2019
  'rgodin16@calstatela.edu',	## Fall 2019	## Spring 2020
  'ricardonaranjo402@gmail.com',	## Fall 2019
  'rrodri47@calstatela.edu',	## Fall 2019
  'sardon@calstatela.edu',	## Fall 2019
  'selizal6@calstatela.edu',	## Fall 2019
  'sescob31@calstatela.edu',	## Fall 2019
  'sherre77@calstatela.edu',	## Fall 2019
  'sngo5@calstatela.edu',	## Fall 2019
  'speral19@calstatela.edu',	## Fall 2019
  'srodass@calstatela.edu',	## Fall 2019
  'ssmith101@calstatela.edu',	## Fall 2019
  'storre115@calstatela.edu',	## Fall 2019
  'tchea4@calstatela.edu',	## Fall 2019
  'twest@calstatela.edu',	## Fall 2019
  'uluna4@calstatela.edu',	## Fall 2019
  'vdesant4@calstatela.edu',	## Spring 2020
  'vespin44@calstatela.edu',	## Fall 2019
  'vgalavi2@calstatela.edu',	## Fall 2019
  'vsanch109@calstatela.edu',	## Fall 2019
  'wmaldon6@calstatela.edu',	## Fall 2019
  'xrubio@calstatela.edu',	## Spring 2020
  'xochitlrubio2000@gmail.com', ## Spring 2020
  'ybrito2@calstatela.edu',	## Fall 2019
  'ycolind2@calstatela.edu',	## Fall 2019
  'ygarci112@calstatela.edu'	## Fall 2019	## Spring 2020
  ]

  return email.lower() in eop_list

try:
  ## this is a hacky way to test for a course object that MIGHT be
  ## included in the page context for whatever page called this template.

  ## start with the URL path
  ##log.info('request.path: {}'.format(request.path))

  ## attempt to grap the course_id slug, if it exists.
  course_id = request.path.split("/")[2]

  ## test to see if the slug we grabbed is really a course_id
  course_key = CourseKey.from_string(course_id)

  ## set a course object from our course_key
  course = modulestore().get_course(course_key)
except:
  log.info('Not a course, exiting.')
  pass
  return STOP_RENDERING



## instantiate the page fragment of the course outline page for
## the Ecommerce verified course upgrade offer.
block = VerifiedUpgradeDeadlineDate(course, user)

if not block.is_enabled:
  log.info('Ecommerce not enabled for this course, exiting.')
  return STOP_RENDERING

## no longer relying on deadline_has_passed since this also eliminates any
## ability for the user to pay for the course.
##if not block.deadline_has_passed:
##  log.info('Ecommerce payment deadline has not yet been reached, exiting.')
##  return STOP_RENDERING

## this is declared below (aproximately row 187) as a Mako "def" tag
if is_eop(user.email):
  log.info('User is an EOP student, exiting.')
  return STOP_RENDERING

## this is declared below (aproximately row 130) as a Mako "def" tag
log.error('Ecommerce paywall being raised on user {}!'.format(user.email))
paywall(block.link_text, block.link)


%>
</%block>

<%def name="paywall(link_text, link)">

    <div id="RoverExpiredAlert" class="buy-rover-modal">
      <h2>Your Trial Period Has Expired.</h2>
      <div class="message-text">
        <p>We hope you've had the chance to check out Rover by OpenStax for completing your math homework.  Your free access period has now expired.  Please click the button below to complete your payment for Rover so you can continue to use it for the remaining homework assignments in your course.  If you are an EOP member at your institution, please email us at <a href="mailto:roversupport@querium.com">roversupport@querium.com</a> so we can help you with the purchase process.  See this page in our <a href="https://openstax.secure.force.com/help/articles/FAQ/How-do-I-pay-for-Rover" target="_blank">FAQ</a> for more information on paying for Rover.</p>
        <p>Thanks for using Rover by OpenStax!</p>
        <p>The Rover Team at OpenStax</p>
      </div>
      <div class="buy-rover-btn">
        ## passing in VerifiedUpgradeDeadlineDate.link_text
        <a href="#RoverBuyNow" target="_self">${ link_text }</a>
      </div>
      <div class="rover-dog-img">
        <img src="${static.url("images/rover-angled-corner.svg")}" alt="Rover Angled Corner">
      </div>
    </div>
    <script type="text/javascript">

      $(function() {
        $('#RoverExpiredAlert').modal({
          fadeDuration: 1000,
          fadeDelay: 1.25,
          escapeClose: false,
          clickClose: false,
          showClose: false
        });

        $('a[href="#RoverBuyNow"]').click(function(event) {
             event.preventDefault();
             $(this).modal.close;
             ## passing in VerifiedUpgradeDeadlineDate.link
             window.location.replace("${ link }");
        });
      });
    </script>
</%def>



<%block name="js_extra">
  ## mcdaniel sep-2019: jQuery Modal for Rover "Buy Now" popup
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</%block>
